In [1]:
import math
import pandas as pd
import numpy as np

data = {'senario': ['severe recession', 'Mild recession', 'Normal growth', 'Boom'],
        'Probability': [0.05, 0.25, 0.40, 0.30],
        'HPR': [-37, -11, 14, 30]}

data = pd.DataFrame(data)
print(data.shape)
data.head()

(4, 3)

            senario  Probability  HPR
0  severe recession         0.05  -37
1    Mild recession         0.25  -11
2     Normal growth         0.40   14
3              Boom         0.30   30

In [3]:
# product Probabilty and HPR
data['product'] = data['Probability'] * data['HPR']
print(data.shape)
data.head()

(4, 4)

            senario  Probability  HPR  product
0  severe recession         0.05  -37    -1.85
1    Mild recession         0.25  -11    -2.75
2     Normal growth         0.40   14     5.60
3              Boom         0.30   30     9.00

In [8]:
# expected return
expected_return = data['product'].sum()
expected_return

10.0

In [9]:
# Calculating squared deviation' to find a variance
data['Deviation from expected return'] = (data['HPR'] - expected_return) ** 2
print(data.shape)
data.head()

(4, 5)

            senario  Probability  HPR  product  Deviation from expected return
0  severe recession         0.05  -37    -1.85                          2209.0
1    Mild recession         0.25  -11    -2.75                           441.0
2     Normal growth         0.40   14     5.60                            16.0
3              Boom         0.30   30     9.00                           400.0

In [11]:
# Calculating the Probability * Deviation from expected return
data['pdotd'] = data['Probability'] * data['Deviation from expected return']
print(data.shape)
data.head()

(4, 6)

,senario,Probability,HPR,product,Deviation from expected return,pdotd
0,severe recession,0.05,-37,-1.85,2209.0,110.45
1,Mild recession,0.25,-11,-2.75,441.0,110.25
2,Normal growth,0.40,14,5.60,16.0,6.40
3,Boom,0.30,30,9.00,400.0,120.00

In [13]:
# Calculating a variance
var = data['pdotd'].sum()
var

347.1

In [14]:
# Calculating a standard deviation
std = np.sqrt(var)
std

18.630619957478604

In [15]:
# Standardization
data['standardization'] = (data['HPR'] - expected_return) / std
print(data.shape)
data.head()

(4, 7)

,senario,Probability,HPR,product,Deviation from expected return,pdotd,standardization
0,severe recession,0.05,-37,-1.85,2209.0,110.45,-2.522729
1,Mild recession,0.25,-11,-2.75,441.0,110.25,-1.127177
2,Normal growth,0.40,14,5.60,16.0,6.40,0.214700
3,Boom,0.30,30,9.00,400.0,120.00,1.073502

In [16]:
# Calculating value at risk of 5%
VaR = expected_return + (-1.64485 * std)
VaR

-20.64457523705868

In [27]:
# time series

data2 = {'Year': [1, 2, 3, 4, 5],
         'Rate of Return': [16.9, 31.3, -3.2, 30.7, 7.7],
         'Deviation from Average Return': [0.2, 14.6, -19.9, 14.0, -9.0],
         'Squared Deviation': [0.0, 213.2, 396.0, 196.0, 81.0]}

data2 = pd.DataFrame(data2)
print(data2.shape)
data2.head()

(5, 4)

   Year  Rate of Return  Deviation from Average Return  Squared Deviation
0     1            16.9                            0.2                0.0
1     2            31.3                           14.6              213.2
2     3            -3.2                          -19.9              396.0
3     4            30.7                           14.0              196.0
4     5             7.7                           -9.0               81.0

In [29]:
# Average rate of return
average_rate_return = data2['Rate of Return'].sum() / len(data2['Year'])
average_rate_return

16.68

In [30]:
# Variance
Variance = data2['Squared Deviation'].sum() / (len(data2['Year']) - 1)
Variance

221.55

In [32]:
# Standard Deviation
Standard_Deviation = np.sqrt(Variance)
Standard_Deviation

14.88455575420375

In [45]:
# Sharpe ratio

expected_return = 15
risk_premium = 8
standard_deviation = 22
free_return = expected_return - risk_premium

In [65]:
# calculating the ratio

investment_budget = 300000
borrowing = 120000

risky_investment = investment_budget + borrowing
risky_ratio = risky_investment / investment_budget 
free_ratio = 1 - risky_ratio
print(f"위험자산비율: {risky_ratio}, 안전자산비율: {free_ratio:.2f}")

위험자산비율: 1.4, 안전자산비율: -0.40

In [66]:
# calculating expected portfolio return
expected_portfolio_return = risky_ratio*expected_return + free_ratio*free_return
expected_portfolio_return

18.2

In [70]:
# budget standard deviation 
budget_standard_deviation = risky_ratio * standard_deviation
budget_standard_deviation

30.799999999999997

In [74]:
# calculating sharpe ratio
sharpe_ratio = (expected_portfolio_return - free_return) / budget_standard_deviation
sharpe_ratio

print(f'sharpe_ratio: {sharpe_ratio:.2f}')

sharpe_ratio: 0.36